@model ProjectManagement_11_07.Models.ViewModel.TaskViewModel

  
<div class="task-board" >
        <div class="task-list" id="processingTasks" ondrop="drop(event, this)" ondragover="allowDrop(event)" style="max-height: 550px; overflow: auto;">
            <h4  style="color: #038EDC;">Đang thực hiện: @Model.ProcessingTasks.Count</h4>
             @foreach(var task in Model.ProcessingTasks){
                <div class="task" draggable="true" ondragstart="drag(event)" id="@task.TaskId" data-task-id="@task.TaskId" style="position: relative;">
                    <h5>Nhiệm vụ: @task.TaskName</h5>
                      <div class="dropdown ms-2" style="position: absolute; top: 6px; right: 16px;">
                        <a href="#" class="dropdown-toggle font-size-16 text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <a asp-action="EditTask"  asp-route-id="@task.TaskId" class="dropdown-item">Sửa</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item delete-item" type="submit" onclick="deleteTask(@task.TaskId)" data-id="project-items-8" href="javascript:void(0);">Xóa</a>
                        </div>
                    </div>
                    <p> <b>Mô tả:</b>  @task.TaskDescription</p>
                    <ul><b>Thành viên:</b>
                        @if (Model.TaskUsers.ContainsKey(task.TaskId))
                        {
                            @foreach (var user in Model.TaskUsers[task.TaskId])
                            {
                                <li style="color: black;">@user.FullName</li>
                            }
                        }
                    </ul>
                    <p class="task-status custom-badge custom-badge-completed"> @task.StatusTask</p>
                </div>
            }
        </div>

        <div class="task-list" id="completedTasks" ondrop="drop(event, this)" ondragover="allowDrop(event)" style="max-height: 550px; overflow: auto;">
            <h4  style="color: #038EDC;">Hoàn thành: @Model.CompletedTasks.Count</h4>
            @foreach(var task in Model.CompletedTasks){
                <div class="task" draggable="true" ondragstart="drag(event)" id="@task.TaskId" data-task-id="@task.TaskId" style="position: relative;">
                    <h5>Nhiệm vụ: @task.TaskName</h5>
                    <div class="dropdown ms-2" style="position: absolute; top: 6px; right: 16px;">
                        <a href="#" class="dropdown-toggle font-size-16 text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <a asp-action="EditTask"  asp-route-id="@task.TaskId" class="dropdown-item">Sửa</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item delete-item" type="submit" onclick="deleteTask(@task.TaskId)" data-id="project-items-8" href="javascript:void(0);">Xóa</a>
                        </div>
                    </div>
                    <p> <b>Mô tả:</b> @task.TaskDescription</p>
                    <ul><b>Thành viên:</b>
                        @if (Model.TaskUsers.ContainsKey(task.TaskId))
                        {
                            @foreach (var user in Model.TaskUsers[task.TaskId])
                            {
                                <li style="color: black;">@user.FullName</li>
                            }
                        }
                    </ul>
                    <p class="task-status custom-badge custom-badge-completed">
                        @task.StatusTask</p>
                </div>
            }
        </div>
    </div>