@model ProjectManagement_11_07.Models.ViewModel.AddProjectViewModel

@{
    string formAction = Model.ProjectId == 0 ? "AddProject" : "EditProject";
    string titleForm  = Model.ProjectId == 0 ? "Thêm Dự Án Mới" : "Sửa Dự Án";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Dashboard</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->
</head>
<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: "Inter", Arial, Helvetica, sans-serif;
    }
    .formbold-mb-5 {
      margin-bottom: 20px;
    }
    .formbold-pt-3 {
      padding-top: 12px;
    }
    .formbold-main-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 48px;
    }
  
    .formbold-form-wrapper {
      margin: 0 auto;
      max-width: 550px;
      width: 100%;
      background: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .formbold-form-wrapper h2 {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
      color: #333;
    }

    .formbold-form-label {
      display: block;
      font-weight: 500;
      font-size: 16px;
      color: #07074d;
      margin-bottom: 12px;
    }
    .formbold-form-label-2 {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 20px;
    }
  
    .formbold-form-input {
      width: 100%;
      padding: 12px 24px;
      border-radius: 6px;
      border: 1px solid #e0e0e0;
      background: white;
      font-weight: 500;
      font-size: 16px;
      color: #6b7280;
      outline: none;
      resize: none;
    }
    .formbold-form-input:focus {
      border-color: #6a64f1;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }
    
  
    .formbold-btn {
      text-align: center;
      font-size: 16px;
      border-radius: 6px;
      padding: 14px 32px;
      font-weight: 600;
      color: #038edc;
      background-color: rgba(3, 142, 220, .1);
      border-color: transparent !important;
      width: 50%;
      cursor: pointer;
    }
    .formbold-btn:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }
  
    .formbold--mx-3 {
      margin-left: -12px;
      margin-right: -12px;
    }
    .formbold-px-3 {
      padding-left: 12px;
      padding-right: 12px;
    }
    .flex {
      display: flex;
    }
    .flex-wrap {
      flex-wrap: wrap;
    }
    .w-full {
      width: 100%;
    }
    .rounded-circle {
    border-radius: 50%;
    }

  .avatar-sm {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
    
  
  </style>  
<body>
    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
          <h2 style="color: #038EDC;">@titleForm</h2>
          <form method="POST" asp-action="@formAction" >
              <input type="hidden" asp-for="ProjectId" />
            <div class="formbold-mb-5">
              <label asp-for="ProjectName" class="formbold-form-label formbold-form-label-2"> Tên Dự Án </label>
              <input asp-for="ProjectName" type="text" placeholder="Nhập tên tự án" class="formbold-form-input" />
              <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="formbold-mb-5">
              <label asp-for="ProjectDescription" for="phone" class="formbold-form-label formbold-form-label-2"> Mô tả </label>
              <input asp-for="ProjectDescription" type="text" placeholder="Mô tả dự án" class="formbold-form-input" />
              <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            
            <div class="flex flex-wrap formbold--mx-3">
              <div class="w-full sm:w-half formbold-px-3">
                <div class="formbold-mb-5 w-full">
                  <label asp-for="StartDate"  class="formbold-form-label formbold-form-label-2"> Timeline </label>
                  <input asp-for="StartDate" type="date" class="formbold-form-input"/>
                  <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
              </div>
              <div class="w-full sm:w-half formbold-px-3">
                <div class="formbold-mb-5">
                  <label  asp-for="StatusProject" class="formbold-form-label formbold-form-label-2"> Trạng thái </label>
                  <select asp-for="StatusProject" class="formbold-form-input" id="team-status">
                    <option value="Đang thực hiện">Đang thực hiện</option>
                    <option value="Hoàn thành">Hoàn thành</option>
                </select>
                 <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
              </div>
            </div>
      
            <div class="formbold-mb-5 formbold-pt-3">
              <label asp-for="SelectedUserIds" class="formbold-form-label formbold-form-label-2">
                Danh sách thành viên
              </label>
              @*<select asp-for="SelectedUserIds" asp-items="@(new MultiSelectList(Model.Users, "UserId", "FullName"))" class="form-control" multiple="multiple"></select>*@
              @*<span asp-validation-for="SelectedUserIds" class="text-danger"></span>*@


              <ul class="list-unstyled user-list validate mt-2 mb-0" style="max-height: 150px;  overflow: auto;">

                    @foreach(var user in Model.Users)
                    {
                        <li>
                            <div class="form-check form-check-primary font-size-16 mb-2 d-flex align-items-center">
                                <input class="form-check-input me-3" type="checkbox" name="SelectedUserIds" value="@user.UserId" @(Model.SelectedUserIds.Contains(user.UserId) ? "checked" : "")>
                                <img src="@user.ImageUrl" class="rounded-circle avatar-sm" alt="">
                                <label class="form-check-label font-size-14 ms-3 mb-0" for="member-2">@user.FullName</label>
                            </div>
                        </li>
                    }
            </ul>
            <div>
              <button type = "submit" class="formbold-btn">Xác nhận</button>
            </div>
          </form>
          @section Scripts {
           @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
        </div>
      </div>
<!-- end modal -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>
